BasedOnStyle: clang-format
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 100

# Params each on new line
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyReturnTypeOnItsOwnLine: 0

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: DontAlign
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Attach
InsertBraces: true

Cpp11BracedListStyle: false
DerivePointerAlignment: false
PointerAlignment: Left

SortIncludes: Never
IncludeBlocks: Regroup

# Keep true cuz clion reasons?
ReflowComments: true

SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceBeforeCpp11BracedList: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true

IndentCaseLabels: true
IndentGotoLabels: true
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: true
  AtStartOfFile: false

FixNamespaceComments: true
SeparateDefinitionBlocks: Always
