[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git

[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c

[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm.git

[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/cimgui/cimgui.git

[submodule "lib/tinyobjloader"]
	path = lib/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
